Django==5.1.15
Pillow==12.3.0
django-tenants==3.7.0
psycopg2-binary==2.9.12
redis==5.2.1
django-redis==5.4.0
celery==5.4.0
python-decouple==3.8
argon2-cffi==23.1.0
python-json-logger==3.2.1
django-prometheus==2.3.1
opentelemetry-sdk==1.29.0
opentelemetry-instrumentation-django==0.50b0
gunicorn==23.0.0
django-axes==7.0.1
