-r requirements.txt

# Testing
pytest==8.3.4
pytest-django==4.9.0
pytest-cov==6.0.0
factory-boy==3.3.1
freezegun==1.5.1

# Linting & Formatting
black==24.10.0
ruff==0.8.4

# Dev Tools
django-debug-toolbar==4.4.6
ipython==8.30.0
pip-audit==2.9.0
